.back-arrow {
  margin-top: 109.5px;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
}

.page-honor-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #575F6C;
  margin-top: 0px;
  margin-bottom: 23px;
}

.honor-form label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.04em;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #3F4957;
}

.honor-form input {
  padding-left: 29px;
  background: rgba(240, 240, 240, 0.86);
  border: none;
  border-radius: 20px;
  outline: none;
}

.honor-form .input1 {
  width: 299px;
  height: 60px;
}

.honor-form .input2 {
  text-align: center;
  padding-left: 0;
  width: 136px;
  height: 60px;
}

.honor-form input::placeholder {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(63, 73, 87, 0.5);
}