.back-arrow {
  margin-top: 109.5px;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 110px;
}

.page-honor-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #575f6c;
  margin-top: 0px;
  margin-bottom: 23px;
}

.honor-form {
  label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.04em;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #3f4957;
  }
  input {
    padding-left: 29px;
    background: rgba(240, 240, 240, 0.86);
    border: none;
    border-radius: 20px;
    outline: none;
    &::placeholder {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: rgba(63, 73, 87, 0.5);
    }
  }
  .input1 {
    width: 299px;
    height: 60px;
  }
  .input2 {
    text-align: center;
    padding-left: 0;
    width: 136px;
    height: 60px;
  }
  textarea {
    width: 299px;
    height: 257px;
    background: rgba(240, 240, 240, 0.86);
    border-radius: 20px;
    padding: 20px 29px;
    outline: none;
    border: none;
    resize: none;
    &::placeholder {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: rgba(63, 73, 87, 0.5);
    }
  }
}

.scope-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  button {
    width: 99px;
    height: 32px;
    background: rgba(240, 240, 240, 0.86);
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 66px;
  }
  button.active {
    background-color: #4561e1;
    color: white;
  }
}

.btn-small {
  width: 99px;
  height: 32px;
}
.btn-normal {
  width: 150px;
  height: 46px;
}
.btn-border {
  border-radius: 24px;
  border: 2px solid #4561e1;
  text-align: center;
  color: #4561e1;
}

.btn-fill {
  border-radius: 24px;
  border: 2px solid #4561e1;
  background: #4561e1;
  text-align: center;
  color: white;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: center;
}

.bottom-nav {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 26px;
}

.ellipse1 {
 left: 0;
 top: 0;
}
.ellipse2{
  right: 0;
  top: 0;
}
.ellipse3{
  right: 0;
  top: 0;
}
