* {
  box-sizing: border-box;
}

html {
  background-color: #000;
}

body {
  max-width: 375px;
  background: white;
  margin: 0 auto;
}

.App {
  max-width: 375px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
